* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  
  header {
    background-color: lightgoldenrodyellow;
    height: 10vh;
  }
  .logo {
    width: 100px;
  }
  .carrito {
    width: 35px;
  }
  .enlaces {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .enlaces ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .enlaces ul li {
    display: inline;
    padding: 10px;
  }
  .enlaces ul li a {
    text-decoration: none;
    color: black;
    font-size: 30px;
  }
  .enlaces ul li a:hover {
    color: cadetblue;
  }

    #jumbotron {
    background-color: burlywood;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .planes {
    display: flex;
    justify-content: space-around;
  }
  .promo {
    display: flex;
    align-items: center;
  }
  .descripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .descripcion h1 {
    color: black;
    font-size: 50px;
    text-align: center;
  }
  .descripcion p {
    font-size: 20px;
    text-align: center;
  }
  .descripcion button {
    border-radius: 10px;
    background-color: transparent;
    padding: 10px;
  }
  .jugos {
    width: 35vw;
  }
  .datos{
    display: flex;
  }
  .datos input {
    border-radius: 5px;
    background-color: lightgoldenrodyellow;
  }
  .datos button {
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
  }
  .datos button:hover {
    background-color: lightgoldenrodyellow;
  }
  .promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .promo button {
    padding: 5px;
    border-radius: 15px;
    font-size: 15px;
    background-color: transparent;
  }

  #productos {
    height: 25vh;
    background-color: cornsilk;
    text-align: center;
    font-size: 15px;
  }
  .card {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0);
    transition: 0.9s;
    border-radius: 12px;
  }
  .card:hover {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .container {
    padding: 2px 25px;
  }
  .card p {
    font-size: 10px;
  }
  
  #productos h1 {
    color: red;
  }
  .venta {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
  }
  .card button {
    padding: 5px;
    border-radius: 10px;
    background-color: sandybrown;
  }
  



